$white: #f9f9f9;
$white-two: #ffffff;

$black: #303030;

$gray: #5e5e5e;
$gray-ligh: #b2b2b2;

$red: #ff5b5b;

$green-kiwi: #8fe360;
$green-weird: #57e690;

$orange-pastel: #ff915b;
$orange-pale: #ffbe5b;

$bleu: #57dbe6;

$gold-light: #ffdf5b;

$Brown-Sorrell: #CFB995;
$Brown-Sorrell-two: #D0BA93;